/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require lazybox
 *= require_tree . 
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
  /*font-size: 100%;*/
  /*font: inherit;*/
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul, li {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  background: #EDEBDE;
}

body div.body { margin: 0 auto; margin-top: 50px; width: 900px; }

a { color: gray; }
a.visited { color: gray; }

.button {
  text-decoration: none;
  display: inline-block;
  outline: none;
	cursor: pointer;
	text-align: center;
	padding: 3px 10px 5px;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.button:active {
	position: relative;
	top: 1px;
}

label {
  display: block;
  margin: 5px 10px 0 0;
}

select {
  width: 260px;
  padding: 5px;
}

span.error {
  color: red;
  display: block;
}

input[type=text], input[type=email], input[type=url], input[type=password], textarea, select {
  padding: 9px;
  border: solid 1px #E5E5E5;
  outline: 0;
  font: normal 17px/100% Verdana, Tahoma, sans-serif;
  width: 330px;
  background: #FFFFFF;
}

textarea {
  max-width: 330px;
  height: 150px;
  line-height: 150%;
}

select {
  width: 350px;
}

label {
  font: normal 17px/100% Verdana, Tahoma, sans-serif;
}

input[type=submit] {
  padding: 10px;
  width: 350px;
}


table {
  margin-top: 20px;
  border-collapse: collapse;
  border-radius: 3px;
  font-size: 16px;
}
caption { text-align: left; }
th {
  padding: 5px;
  color: #fff;
  border: 1px solid #CACACA;
  background-color: #9DD929;
  vertical-align: middle;
  font-weight: bold;
  color: #555;
  text-shadow: 0 1px 0 white;
  border-bottom: 1px solid #D8D8D8;
  background: -moz-linear-gradient(#FAFAFA,#EAEAEA);
  background: -webkit-linear-gradient(#FAFAFA,#EAEAEA);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa',endColorstr='#eaeaea')";
  background: linear-gradient(#FAFAFA,#EAEAEA);
  width: 250px;
}
td {
  padding: 5px;
  background: #F8F8F8;
  border: 1px solid #CACACA;
  color: #484848;
  width: 250px;
  text-align: left;
}
tfoot tr td {
  background: transparent;
  border: none;
}

#lazybox div.task { max-width: 500px; }
#lazybox.confirm { background-color: #e2e2e2 !important; }

.lazybox {
  background: transparent !important;
}

#lazybox_close.img {
  background: url('close.png') no-repeat;
  width: 32px;
  height: 32px;
  top: -17px;
  right: -17px;
}

#lazybox.sticker {
  -webkit-border-bottom-left-radius: 20px 500px;
  -webkit-border-bottom-right-radius: 500px 30px;
  -webkit-border-top-right-radius: 5px 100px;
  -moz-border-radius-bottomleft: 20px 500px;
  -moz-border-radius-bottomright: 500px 30px;
  -moz-border-radius-topright: 5px 100px;
  border-radius-bottomleft: 20px 500px;
  border-radius-bottomright: 500px 30px;
  border-radius-topright: 5px 100px;
  background: #FCF59B;
  border-bottom-left-radius: 20px 500px;
  border-bottom-right-radius: 500px 30px;
  border-top-right-radius: 5px 100px;
}

#lazybox.top {
  border-radius: 0px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
}

#lazybox.player {
  background: transparent;
  border: none;
  box-shadow: none;
}
