body {
  background:
  radial-gradient(black 15%, transparent 16%) 0 0,
  radial-gradient(black 15%, transparent 16%) 8px 8px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:#282828;
  background-size:16px 16px;
}

.body {
  border-left: 5px solid #e2e2e2;
  border-right: 5px solid #e2e2e2;
  background: white;
  padding: 20px 40px;
  box-shadow: 0 8px 6px -6px black;
  background: url(background.png) repeat;
}

#lazybox_close.img {
  background: url(pin.png) no-repeat;
  width: 48px;
  height: 48px;
  top: -25px;
  right: -25px;
}

#lazybox.player {
  border: none;
  background: #222;
  border-radius: 0;
  box-shadow: 0 0 50px 10px cyan;
}

#lazybox.confirm {
  border-radius: 0;
  border: 3px solid #222;
  background: linear-gradient(#e2e2e2, white);
  a#lazybox_close { display: none; }
}

#lazybox.sticker {
  border-radius-bottomleft: 20px 500px;
  border-radius-bottomright: 500px 30px;
  border-radius-topright: 5px 100px;
  background: #FCF59B;
  border-bottom-left-radius: 20px 500px;
  border-bottom-right-radius: 500px 30px;
  border-top-right-radius: 5px 100px;
}

#lazybox_body > * { display: block; }

.error { color: red; font-style: italic; }

#lazybox.top {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

#lazybox.lazybox {
  padding: 0;
  border: 0;
  background: transparent;
}

table { width: 100%; }

a { text-decoration: none; }
form { min-width: 400px; }
