<div class='slider'>
  <ul class='slides'>
    <li class='slide'><%= image_tag 'http://cs11247.userapi.com/u33085317/-14/x_f9110229.jpg' %></li>
    <li class='slide'><%= image_tag 'http://cs5965.userapi.com/u33085317/-14/x_b3ce2b54.jpg' %></li>
    <li class='slide'><%= image_tag 'http://cs11247.userapi.com/u33085317/-14/x_b27c3de8.jpg' %></li>
    <li class='slide'><%= image_tag 'http://cs11247.userapi.com/u33085317/-14/x_944551cd.jpg' %></li>
  </ul>
</div>
